# Compiled Object files
*.o
*.obj

# Compiled libraries
*.a
*.lib
*.so
*.dylib
*.dll

# Executables
bin/
*.exe

# DUB
dub.selections.json
.dub
docs/
docs.json
__dummy.html

# Code coverage
*.lst

# Debugging Symbols
*.dwarf

# Temporary Files
*~

# Precompiled C headers
# See https://github.com/microsoft/vscode-cpptools/issues/3347
/.vscode/ipch/

# Environment config, see https://direnv.net
.envrc
