docs/
bin/
src/*.o
*.dwarf

# Temporary Files
*~

# Precompiled C headers
# See https://github.com/microsoft/vscode-cpptools/issues/3347
/.vscode/ipch/

# Environment config, see https://direnv.net
.envrc
